CMakeLists.txt.user
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
control_plugin/build
control_plugin/mpc_log.csv
state.log