<?xml version="1.0"?>

<model>
  <name>simplified_biped</name>
  <version>1.0</version>
  <sdf version="1.5">both_legs_actuators_modelled_hanging.sdf</sdf>

  <author>
    <name>L. K.</name>
    <email>nospampls</email>
  </author>

  <description>
    A simplified model for a bipedal robot.
  </description>
</model>