<?xml version="1.0"?>

<model>
  <name>simplified_biped</name>
  <version>1.0</version>
  <sdf version="1.5">both_legs_simplified_medium_mass.sdf</sdf>

  <author>
    <name>L.K.</name>
    <email>tuloukas@gmail.com</email>
  </author>

  <description>
    A simplified model for a bipedal robot.
  </description>
</model>